---
// Footer.astro
const year = new Date().getFullYear();
---

<footer>
    <p>&copy; {year} Fillah Alamsyah. All rights reserved.</p>
</footer>

<style>
    footer {
        color: var(--color-primary-a50);
        text-align: center;
        background-color: var(--color-primary-a0);
        padding: 1em 0;
        padding-inline-start: auto;

    }
    p {
        color: var(--color-surface-a0);
        margin: 0;
    }
</style>