---
import '../style/global.css';
const {title} = Astro.props;
---

<div class="title">
    <h2>{title}</h2>
  </div>
  <hr class="divider" 
  style="border: 1.5px solid var(--color-primary-a20);margin-top:-3px;margin-bottom: 1.5rem;"
  >

<style>
  .title {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
</style>